{% extends "core/base.html" %}
{% load i18n static %}

{% block content %}
  <nav class="navbar navbar-light bg-success row">
    <a class="h1 col-md-4 offset-md-4 text-danger bold" href="/" style="text-decoration: none">TripShare</a>
  </nav>
  <div class="container mt-1">
    <div class="row-fluid">
      <div class="col-lg-6 col-sm-6 col-md-6 ml-auto">
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              {% if 'SignInError' in message.extra_tags %}
                <div class="alert alert-danger">{{ message }}</div>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
        <div style="padding: 2%">
          <form action="{% url 'login_user' %}" method="post">
            {% csrf_token %}
            <div class="heading form-group row">
              <h1 class="form-heading mx-sm-3">Sign In</h1>
            </div>
            <div class="form-group row">
              <label for="EmailSignIn" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email"
                       value="{{ EmailSignIn }}"
                       class="form-control"
                       name="EmailSignIn"
                       placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="PasswordSignIn" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input type="password"
                       value="{{ PasswordSignIn }}"
                       class="form-control"
                       name="PasswordSignIn"
                       placeholder="Password">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
            </div>
          </form>
        </div>
        <hr>
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              {% if 'SignUpError' in message.extra_tags %}
                <div class="alert alert-danger">{{ message }}</div>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
        <div style="padding: 2%">
          <form action="{% url 'register_user' %}" method="post">
            {% csrf_token %}
            <div class="heading form-group row">
              <h1 class="form-heading mx-sm-4">Free Sign Up</h1>
            </div>
            <div class="form-group row">
              <label for="FirstSignUp" class="col-sm-3 col-form-label">First Name</label>
              <div class="col-sm-9">
                <input type="text"
                       value="{{ FirstSignUp }}"
                       class="form-control"
                       name="FirstSignUp"
                       placeholder="Vaibhav"
                       required>
              </div>
            </div>
            <div class="form-group row">
              <label for="LastSignUp" class="col-sm-3 col-form-label">Last Name</label>
              <div class="col-sm-9">
                <input type="text"
                       value="{{ LastSignUp }}"
                       class="form-control"
                       name="LastSignUp"
                       placeholder="Mathur"
                       required>
              </div>
            </div>
            <div class="form-group row">
              <label for="EmailSignUp" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email"
                       value="{{ EmailSignUp }}"
                       class="form-control"
                       name="EmailSignUp"
                       placeholder="Email"
                       required>
              </div>
            </div>
            <div class="form-group row">
              <label for="PasswordSignUp" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input type="password"
                       value="{{ PasswordSignUp }}"
                       class="form-control"
                       name="PasswordSignUp"
                       placeholder="Password"
                       required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}



